{% extends 'base.html' %}
{% load crispy_forms_tags %}  <!--Adição do crispy para utilização dos formulários do bootstrap -->

{% block title %} USED {% endblock %}

<!-- Construção da tela de login -->
{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card auth-card">
      <div class="card-body">
        <h4 class="card-title text-center">Entrar</h4>

        <form class="form-cadastro" method="post">
          {% csrf_token %}


          <p>{{ form|crispy }}</p>
          
          <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>

        <p class="change-form-p">Ainda não é cadastrado? <a id="red_cadastro" href="{% url 'signup' %}">Clique aqui.</a> </p>
        <p class="change-form-p"> <a id="red_cadastro" href="/reset_password/">Esqueceu sua senha?</a> </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


<!-- Login 03 -->

<!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 -->
