{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!--Adição do crispy para utilização dos formulários do bootstrap -->

{% block title %} Brechó Online {% endblock %}

<!-- Construção da tela de login -->
{% block content %}



<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card auth-card">
        <div class="card-body"> 
          <form class="form-cadastro" method="post">
         
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom">Redefinição de senha</legend>
    
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">

                <button class="btn btn-primary btn-block" type="submit">Redefinir</button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}